<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feedsystem.comment.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="com.example.feedsystem.comment.model.CommentDO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="video_id" property="videoId"/>
        <result column="author_id" property="authorId"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
    <select id="existsVideoById" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM videos WHERE id = #{videoId})
    </select>
    <select id="selectVideoAuthorId" resultType="long">
        SELECT author_id FROM videos WHERE id = #{videoId}
    </select>
    <insert id="insertComment" parameterType="com.example.feedsystem.comment.model.CommentDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (username, video_id, author_id, content, created_at)
        VALUES (#{username}, #{videoId}, #{authorId}, #{content}, #{createdAt})
    </insert>
    <select id="selectById" resultMap="CommentResultMap">
        SELECT id, username, video_id, author_id, content, created_at FROM comments WHERE id = #{id}
    </select>
    <delete id="deleteById">DELETE FROM comments WHERE id = #{id}</delete>
    <update id="increaseVideoPopularity">
        UPDATE videos SET popularity = popularity + 1 WHERE id = #{videoId}
    </update>
    <select id="selectByVideoId" resultMap="CommentResultMap">
        SELECT id, username, video_id, author_id, content, created_at
        FROM comments WHERE video_id = #{videoId} ORDER BY created_at ASC LIMIT #{limit}
    </select>
</mapper>
